
<div class="text-bg-secondary p-1">
  <div class="nav" *ngIf="!isAdmin ;else adminNavigation "  >
 

  <ul class="nav justify-content-center">
    <li class="nav">
      <a class="nav-link active" aria-current="page" [routerLink]="['/home']" routerLinkActive="active" >home</a>
    </li>
    
 
      
      <div class="nav"  *ngIf ="userauthoriziation==null" >
                  
          
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['up']">signup</a>
       
      </li>
      <li class="nav-item">
       
        <a class="nav-link active" [routerLink]="['in']">signin</a> 
        
      </li>

        
      </div>


  
      <div class="nav"  *ngIf ="userauthoriziation !==null" >
    
      <li class="nav-item">
        <a class="nav-link" [routerLink]=" ['in']">logout</a>
      </li>
      <li class="nav">
        <a class="nav-link active" aria-current="page" [routerLink]="['/product']"  >products</a>
      </li>
      </div>
   
    
   
    <li class="nav-item">
      <a class="nav-link disabled">Disabled</a>
    </li>
  </ul>
  </div>

</div>
<ng-template #adminNavigation>
  <ul class="nav justify-content-center">
    <li class="nav">
      <a class="nav-link active" aria-current="page" [routerLink]="['/admin']" routerLinkActive="active" >admin panel</a>
    </li>
    
    <li class="nav">
      <a class="nav-link active" aria-current="page" [routerLink]="['/products']"  >products</a>
    </li>
 
      
      <div class="nav"  *ngIf ="userauthoriziation==null" >
                  
      
      <li class="nav-item">
       
        <a class="nav-link active" [routerLink]="['in']">signin</a> 
        
      </li>

      </div>

      <div class="nav"  *ngIf ="userauthoriziation !==null" >
    
      <li class="nav-item">
        <a class="nav-link" [routerLink]=" ['in']">logout</a>
      </li>
      <li class="nav">
        <a class="nav-link active" aria-current="page" [routerLink]="['/admin/getusers']" routerLinkActive="active" >get allusers</a>
      </li>
      
      </div>
   
    
   
    <li class="nav-item">
      <a class="nav-link disabled">Disabled</a>
    </li>
  </ul>

</ng-template>

<router-outlet>
  


</router-outlet>

